<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services configSource="Config\services.config" />
    <behaviors configSource="Config\behaviors.config" />
    <bindings configSource="Config\bindings.config" />
    <client>
      <endpoint address="http://10.148.219.206:8089/CubService" binding="basicHttpBinding"
          bindingConfiguration="WebServerPortBinding" contract="WebServer"
          name="WebServerPort" />
    </client>
  </system.serviceModel>

</configuration>
