<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services configSource="Config\services.config" />
    <behaviors configSource="Config\behaviors.config" />
    <bindings configSource="Config\bindings.config" />
  </system.serviceModel>
  <appSettings>
    <add key="EqptRoomHubListenIp" value="10.31.31.31"></add>
    <add key="EqptRoomHubListenPort" value="8135"></add>
  </appSettings>
</configuration>
