<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CabinetEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8137/Cabinet" binding="basicHttpBinding"
                bindingConfiguration="CabinetEndpoint" contract="ICabTreeService"
                name="CabinetEndpoint" />
        </client>
    </system.serviceModel>
</configuration>